@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 141 29% 94%;
    --foreground: 0 0% 15%;
    --card: 141 29% 94%;
    --card-foreground: 0 0% 15%;
    --popover: 141 29% 94%;
    --popover-foreground: 0 0% 15%;
    --primary: 132 51% 27%;
    --primary-foreground: 141 29% 94%;
    --secondary: 141 20% 88%;
    --secondary-foreground: 0 0% 15%;
    --muted: 141 20% 88%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 79 91% 71%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 141 15% 85%;
    --input: 141 15% 85%;
    --ring: 132 51% 27%;
    --chart-1: 132 51% 27%;
    --chart-2: 79 91% 71%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 15%;
    --foreground: 141 29% 94%;
    --card: 0 0% 15%;
    --card-foreground: 141 29% 94%;
    --popover: 0 0% 15%;
    --popover-foreground: 141 29% 94%;
    --primary: 132 41% 37%;
    --primary-foreground: 141 29% 94%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 141 29% 94%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 79 81% 61%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 132 41% 37%;
    --chart-1: 132 41% 37%;
    --chart-2: 79 81% 61%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
